:root {
    --blue: #1B9AAA;
    --dark-blue: #124559;
    --yellow: #E0FF38;
    --gray-light: #EEEEEE;
    --gray-dark: #222222;
    --gray-highlight: #CCCCCC;
}

body {
    margin: 0;
    font-family: monospace;
}

.fas {
    color: #000000;
    font-size: 24px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

.nav {
    margin: 0 0;
    height: fit-content;
    background-color: var(--gray-light);
    position: relative;
}

#logo-header {
    margin: 0 auto;
    width: fit-content;
}

#logo {
    display: inline;
    margin-top: 2px;
    width: 24px;
}

.nav > div > h1 {
    display: inline;
    font-size: 24px;
}

#user-icon {
    display: inline-block;
    float: right;
    margin: 0;
}

#left-div {
    float: left;
    width: fit-content;
}

.nav > ul > a > li:hover {
    color: var(--gray-dark);
    background-color: var(--gray-highlight);
}

#current_page{
    background-color: var(--gray-highlight);
}

.nav > ul {
    padding: 0;
    margin: 0;
}

.nav > ul > li {
    list-style-type: none;
    padding: 0;
}

.content {
    padding-bottom: 3.5rem;
}

#camera-view {
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: #1B9AAA;
    width: 40%;
    padding-bottom: 40%;
    position: relative;
    text-align: center;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    text-align: center;
}

#footer > h3 {
    margin-bottom: 2px;
}

#footer > a {
    text-decoration: none;
    color: var(--blue);
}